{% extends "base.html" %}
{% block title %}Planificacion del pavellon{% endblock %}
{% block body %}
<h1>Evento {{evento.name}}</h1>
<div class="container">
    <form action="{% url 'stand_planing' %}" method="POST">
    {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th hidden>IdStand</th>
                    <th scope="col">Numero estand</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Sector</th>
                </tr>
            </thead>
            <tbody>
                {% for stand in stands %}
                    <tr>
                        <th scope="row" hidden><input type="number" id="idStand{{stand.id}}" name="idStand{{stand.id}}" value="{{stand.id}}" readonly required/></th>
                        <td>{{stand.numero_stand}}</td>
                        <td><input type="text" id="size{{stand.id}}"name="size{{stand.id}}" value="2x2" required/></td>
                        <td>
                            <select class="form-select" aria-label="Sector">
                                <option value="none" selected>Seleccionar...</option>
                                {% for sector in sectores %}
                                    <option value="{{sector.id}}">{{sector.nombre}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-black">Save</button>
        </div>
    </form>
</div>
{% endblock %}