<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-4 pt-5 pb-3">
            <h2 class="fw-normal mb-0 text-black" style="color: green">Informe beneficios de {{ mes }}</h2>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">INGRESOS</h5>
                <h2 class="card-text">50000€</h2>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">GASTOS</h5>
                <h2 class="card-text">20000€</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Ingreso servicios</h5>
                {% for servicio, ingreso in ingresos.items %}
                    <h5 class="card-text">{{ servicio }}: {{ ingreso }}</h5>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Gasto servicios</h5>
                {% for servicio, num in num_servicios_desglosado.items %}
                    <h5 class="card-text">{{ servicio }}: {{ num }}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Gasto fijo</h5>
                {% for servicio, num in num_servicios_desglosado.items %}
                    <h5 class="card-text">{{ servicio }}: {{ num }}</h5>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card text-white bg-success mb-3">
        <div class="card-body">
            <h5 class="card-title">BENEFICIOS</h5>
            <h2 class="card-text">30000€</h2>
        </div>
    </div>
</div>