<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-4 pt-5 pb-3">
            <h2 class="fw-normal mb-0 text-black" style="color: green">Informe {{ mes }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Numero de eventos</h5>
                <h1 class="card-text">{{ num_eventos }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Numero de clientes</h5>
                <h1 class="card-text">{{ num_asignaciones }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Numero de servicios</h5>
                <h1 class="card-text">{{ num_servicios }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Numero de clientes por evento</h5>
                {% for event, num_clients in clients_in_events.items %}
                    <h5 class="card-text">{{ event }}: {{ num_clients }}</h5>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title">Numero de servicios adquiridos</h5>
                {% for servicio, num in num_servicios_desglosado.items %}
                    <h5 class="card-text">{{ servicio }}: {{ num }}</h5>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
