{% extends "home_base.html" %}

{% block title %} Crear una nueva incidencia {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="py-3 text-center">Nueva Incidencia</h1>
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <table class="table table-striped table-hover col-2">
                                <div class="form-group">
                                    <label for="nombre"></label>
                                    <input type="text" id="nombre" name="nombre"
                                           class="form-control"
                                           placeholder="Nombre de la incidencia"
                                           maxlength="50" required/>
                                </div>
                                <div class="form-group">
                                    <label for="descripcion"></label>
                                    <textarea type="" id="descripcion" name="descripcion" class="form-control"
                                              placeholder="Descripción de la incidencia" maxlength="500"
                                              required></textarea>
                                </div>

                                <div class="form-group mt-3">
                                    <button type="submit" class="btn btn-success btn-block text-black">Registrar
                                        Incidencia
                                    </button>
                                </div>
                            </table>
                        </form>
                    </div>
                </div>
                {% if success == True %}
                    <div class="card rounded-3 mt-4" style="background-color: rgba(193,250,164,0.42);">
                        <div class="card-body p-4">
                            <h5 class="mb-0 text-center"> La incidencia se a registrado correctamente</h5>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>




{% endblock %}
