{% extends "home_base.html" %}
{% block title %}Valoración de la incidencia{% endblock %}
{% block body %}





    <div class="container">
    <div class="row">
        <div class="col-12">
            <h1><b>Cliente:</b> {{ cliente.user.first_name }} {{ cliente.user.last_name}}</h1>
            <h4><b>Empresa:</b> {{ cliente.user.first_name}}<b> Correo:</b>{{cliente.user.email }}<b> Telefono:</b>{{ cliente.telefono }}</h4>
        </div>
    </div>
    <br/>
    <form action="{% url 'valorar_incidencia' comentario %}" method="POST">
    {% csrf_token %}
        <div class="shadow-sm">
        <table class="table table-striped table-hover col-12">
            <thead>
                <tr>
                    <th hidden>idAssignacio</th>
                    <th scope="col">Titulo de la incidencia</th>
                    <th scope="col">Comentario del usuario</th>
                    <th scope="col">Estado</th>
                    <th scope="col" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for inci in incidencias %}
                    <tr class="
                    {% if inci.estadoIn == 'PD' %}
                        table-warning
                    {% elif inci.estadoIn == 'EP' %}
                        table-info
                    {% elif inci.estadoIn == 'SC' %}
                        table-success
                    {% else %}
                        table-danger
                    {% endif%}
                    ">
                        <th scope="row" hidden><input type="number" id="id{{inci.id}}" name="id{{inci.id}}" value="{{inci.id}}" readonly required/></th>
                        <td>{{inci.nombre}}</td>

                        <td>
                            {% if inci.descripcion == None %}
                                No hay descripcion
                            {% else %}
                                {{inci.descripcion}}
                            {% endif %}
                        </td>
                        <td>
                            <h4>
                                <span class="badge badge-pill
                        {% if inci.estadoIn == 'PD' %}
                            bg-warning">
                        {% elif inci.estadoIn == 'EP' %}
                            bg-info">
                        {% elif inci.estadoIn == 'SC' %}
                            bg-success">
                        {% else %}
                            bg-danger">Error on state
                        {% endif%}
                                {% for state in states %}
                                    {% if state.id == inci.estadoIn %}
                                        {{ state.name }}
                                    {% endif %}
                                {% endfor %}
                                </span>
                            </h4>
                        </td>
                        <td>
                            <div class="form-group">
                                {% if inci.estadoIn == 'PD' %}
                                    <button class="btn btn-info btn-block" type="submit" href="{% url 'detalles_assignacion' comentario %}" id="Valor" value="asignar" name="Valor" >Asignarse incidencia</button>
                                {% elif inci.estadoIn == 'EP' %}
                                    <button class="btn btn-success btn-block" type="submit" href="{% url 'detalles_assignacion' comentario %}" id="Valor" value="solucionada" name="Valor" >Incidencia solucionada</button>
                                {% else %}
                                    <button class="btn btn-danger btn-block" disabled >Incidencia cerrada</button>
                                {% endif %}
                            </div>

                        </td>
                        {% if inci.estadoIn == 'EP' %}
                        <td>
                            <div class="form-group">
                                <button class="btn btn-danger btn-block" type="submit" href="{% url 'detalles_assignacion' comentario %}" id="Valor" value="desasignar" name="Valor" >Desasignar incidencia</button>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            {% if incidencia.estadoIn == 'EP' %}
            <div class="form-group">
            <input type="text" id="comentario" name="asunto" class="form-control-lg form-control" placeholder="Escriba aquí el asunto de la incidencia" minlength="5" maxlength="500"/>
        </div>

        <th><button class="btn hidden "></button></th>
        <div class="form-group">
            <input type="text" id="comentario" name="comentario" class="form-control" placeholder="Escriba aquí el cuerpo de la incidencia" minlength="5" maxlength="500"/>
        </div>
            {% elif incidencia.estadoIn == 'SC' %}
                <div class="container row">

            <h1><b>Asunto:</b> {{ comentarios.asunto }} </h1>
            <h4><b>Cuerpo:</b> {{ comentarios.cuerpo}}</h4>
                </div>

            {% endif %}


        </div>
    </form>
    <div>
            <a class="btn " href="{% url 'incidencias' %}"></a>
        </div>
    <div>
            <a class="btn btn-danger " href="{% url 'incidencias' %}">Atras</a>
        </div>
</div>
{% endblock %}