{% extends "home_base.html" %}
{% block title %}Detalles de la assignación{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><b>Cliente:</b> {{ cliente.user.first_name }}</h1>
        </div>
    </div>
    <br/>
    <form action="{% url 'detalles_assignacion' comentario %}" method="POST">
    {% csrf_token %}
        <div class="shadow-sm">
        <table class="table table-striped table-hover col-12">
            <thead>
                <tr>
                    <th hidden>idAssignacio</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Numero del stand</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Estado</th>
                    <th scope="col" colspan="2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for assignacion in assignaciones %}
                    <tr class="
                    {% if assignacion.estado == 'PD' %}
                        table-warning
                    {% elif assignacion.estado == 'RC' %}
                        table-danger
                    {% elif assignacion.estado == 'AP' %}
                        table-success
                    {% else %}
                        table-danger
                    {% endif%}
                    ">
                        <th scope="row" hidden><input type="number" id="id{{assignacion.id}}" name="id{{assignacion.id}}" value="{{assignacion.id}}" readonly required/></th>
                        <td>{{assignacion.evento.nombre}}</td>
                        <td>{{assignacion.stand.numero_stand}}</td>
                        <td>
                            {% if assignacion.comentario == None %}
                                No hay comentario
                            {% else %}
                                {{assignacion.comentario}}
                            {% endif %}
                        </td>
                        <td>
                            <h4>
                                <span class="badge badge-pill
                        {% if assignacion.estado == 'PD' %}
                            bg-warning">
                        {% elif assignacion.estado == 'RC' %}
                            bg-danger">
                        {% elif assignacion.estado == 'AP' %}
                            bg-success">
                        {% else %}
                            bg-danger">Error on state
                        {% endif%}
                                {% for state in states %}
                                    {% if state.id == assignacion.estado %}
                                        {{ state.name }}
                                    {% endif %}
                                {% endfor %}
                                </span>
                            </h4>
                        </td>
                        <td>
                            <div class="form-group">
                                <button class="btn btn-success btn-block" type="submit" href="{% url 'detalles_assignacion' comentario %}" id="Valor" value="AP" name="Valor" >Aprobar</button>
                            </div>

                        </td>
                        <td>
                            <div class="form-group">
                                <button class="btn btn-danger btn-block" type="submit" href="{% url 'detalles_assignacion' comentario %}" id="Valor" value="RC" name="Valor" >Rechazar</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <input type="text" id="comentario" name="comentario" class="form-control" placeholder="Escriba aquí el comentario de la incidencia" minlength="10" maxlength="500"/>
        </div>
            <th><button class="btn hidden "></button></th>
            <div class="form-group">
                <thead>
                <tr>
                    <th><button class="btn btn-secondary btn-block" type="submit" href="{% url 'detalles_assignacion' comentario %}" id="Valor" value="Comentario" name="Valor"  >Enviar</button>
                </tr>
                </thead>
            </div>
        </div>
    </form>
    <div>
            <a class="btn " href="{% url 'mostrar_assignaciones' %}"></a>
        </div>
    <div>
            <a class="btn btn-danger " href="{% url 'mostrar_assignaciones' %}">Atras</a>
        </div>
</div>
{% endblock %}