{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>No tienes permiso :(</title>
    </head>
    <body>
    <h1>No tienes permiso para ver esta página</h1>
    <div class="tenor-gif-embed" data-postid="21725045" data-share-method="host" data-aspect-ratio="1.77778"
         data-width="50%"><a
            href="https://tenor.com/view/no-vais-a-ningun-lado-remedio-para-peste-negra-la-cooquette-no-vas-a-ningun-lado-quedate-en-tu-lugar-gif-21725045">No
        Vais A Ningun Lado Remedio Para Peste Negra GIF</a>from <a
            href="https://tenor.com/search/no+vais+a+ningun+lado-gifs">No Vais A Ningun Lado GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </body>
    </html>
{% endblock %}
