{% extends "../base.html"%}

{% block title %} Add Service {% endblock %}

{% block body %}

<h2>Add Service</h2>
{% if user.is_autenticated and user.is_servicios_adicionales %}
<div class="card">
  <div class="card-body">
    <form action="{% url 'stockAdd' %}" method="POST">
        {% csrf_token%}
        <select class="form-select" aria-label="Product" name="idProducte">
            {% for product in products %}
                <option value="{{ product.pk }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        <div class="form-group">
            <input type="number" id="cantitat" name="cantitat" class="form-control" placeholder="10" required/>
        </div>
        <div class="form-group">
            <input type="decimal" id="price" name="price" class="form-control" placeholder="1,25" minlength="1" maxlength="6" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-black">Save</button>
        </div>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}